# Secrets
.env
.env.*
!.env.example

**/.env
!**/.env.example
*.pem
*.key
# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/
dist/

# Données locales
chroma_data/
uploads/

# Terraform
.terraform/
*.tfstate*
*.tfvars

# Éditeurs et système
.idea/
.vscode/
.DS_Store
